@import "~bootstrap/scss/bootstrap.scss";

.bigCounter{
    text-align: center;
    background: black;
}
.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: .5px solid white;
}